/* Website Appearance */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 32px;
    text-align: center;
}

/* All p & div */
p, div{
    text-align: justify;
}

/* All button */
button{
    border: none;
    padding: 8px;
    border-radius: 8px;
}

/* Button 1 */
.button-1{
    background-color: antiquewhite;
}

/* Button 2 */
.button-2{
    background-color: lightblue;
}

/* Button 3 */
.button-3{
    background-color: lightsalmon;
}

/* Items */
.section-item{
    margin-bottom: 8px;
}

/* Contents */
.section-content{
    margin: 32px;
}

/* Text Area */
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* Formula */
.formula{
    font-style: italic;
    font-size: xx-large;
    
}

/* Desktop Appearance */
@media only screen and (min-width: 480px) {
    #form-action {
        display: flex;
        flex-direction: row;
    }
}

/* Mobile Appearance */
@media only screen and (max-width: 480px) {
    #form-action {
        display: flex;
        flex-direction: column;
    }
}